/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: var(--ifm-background-color);
}

.tagline {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
  color: var(--ifm-color-primary);
  font-weight: bold;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.besomLogoSvg {
  max-width: 600px;
  width: auto;
}
