.bsp
.scala-build
.bloop
.idea
.metals
.vscode
*.jar
*.iml
target/
.DS_Store
*.log
*.tmp
*.schema.json
**/Pulumi.*.yaml

coverage/
scoverage-report/
coverage-report/

# generated sources, run `scala-cli run ./scripts -M proto -- all`
src/main/scala/besom/rpc 

.out/
