.bsp
.scala-build
.bloop
.idea
.metals
.vscode
*.jar
*.iml
target/
.DS_Store
*.tmp
*.schema.json

coverage/

# generated sources, run `scala-cli run ./scripts -M proto -- all`
src/main/scala/besom/rpc 

.out/